<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>csthemescript</name>
            <displayName><![CDATA[Cs Theme Script]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Load javascript and css script for theme.]]></description>
            <author><![CDATA[Codespot]]></author>
            <tab><![CDATA[Other Module]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>